.wrapper {
  text-align: center;
}

.header {
  background-color: #222;
  margin-bottom: 25px;
  padding: 20px;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.title {
  color: #fff;
}

.blurb {
  font-size: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
